vinf_keys.json
spypart_*
*.zip
__pycache__/
*.png
cs2_*.csv
newest_ts_ds.csv
ucl_30k_matches.csv
worldcup_2026_odds_snapshot.csv
wc2026*.xlsx
gspc*.csv
spx_*.csv
vix*.csv
spy_*.csv
historical_matches*.csv
epl_*.csv
